<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.k.deeplinkingtesting">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/notification"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/notification"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
        tools:replace="android:allowBackup">
        <activity
            android:name=".YadexAdsActivity"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".OutbrainWidgetJSActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".OutBrainContentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ClassicWithImageActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gridlayout.GridWithImagesActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SmartFeed.SmartFeedActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SmartFeed.SmartFeedMidFeedActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admob.InLineBannerAdActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VideoWidget.VideoWidgetActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SFWebView.SFWebViewRecyclerViewActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SFWebView.SFWebViewScrollViewActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admob.AdMobActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admob.GridViewActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9298860897894361~4907509724"
            />
        <meta-data android:name="applovin.sdk.key"
            android:value="MmHLJLwlhhLwuWZiNeyeLte3zfmk4GImmOIOs6U5eCW31mzSvyzXbhJuoTTGhgAmLvAnTNibCSqHrppumwVLAW"/>


        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommonActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name=".insteam.SwipableActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Drawer.SlidingDrawerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".productionOubtbrain.OutbrainSDKActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="com.yandex.mobile.ads.AUTOMATIC_SDK_INITIALIZATION"
            android:value="true"
            tools:replace="android:value"/>
    </application>

</manifest>